/* Responsive Styles */

@media screen and (max-width: 767px) {
  /* Navbar */
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }

  #logo img {
    margin-bottom: 10px;
  }

  #navbar ul {
    flex-direction: column;
  }

  #navbar ul li {
    padding: 10px 0;
  }

  /* Home section */
  #home {
    padding: 50px 20px;
    height: auto;
  }

  /* Services Section */
  #services .box {
    width: 100%;
    margin: 20px 0;
  }

  /* Client Section */
  .client-item {
    padding: 20px;
    margin: 20px;
  }

  /* Contact Section */
  #contactbox form {
    width: 80%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Navbar */
  #navbar {
    padding: 10px 20px;
  }

  /* Home section */
  #home {
    padding: 50px;
  }

  /* Services Section */
  #services .box {
    width: 45%;
    margin: 20px;
  }

  /* Contact Section */
  #contactbox form {
    width: 60%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  /* Services Section */
  #services .box {
    width: 30%;
    margin: 20px;
  }
}

@media screen and (min-width: 1440px) {
  /* Services Section */
  #services .box {
    width: 20%;
    margin: 20px;
  }
}
